In [53]:
import pandas as pd
import os

DATA_DIR = 'data'
# 12個Excel檔案的路徑
file_names = ["chips24_1.csv","chips24_2.csv", "chips24_3.csv", "chips24_4.csv", "chips24_5.csv", "chips24_6.csv", "chips24_7.csv",
         "chips24_8.csv", "chips24_9.csv", "chips24_10.csv", "chips24_11.csv", "chips24_12.csv"]

combined_df_from_db = pd.DataFrame()
for file_name in file_names:
    data_path = os.path.join(DATA_DIR, file_name)
    df_from_db = pd.read_csv(data_path,na_values=[''])
    combined_df_from_db = pd.concat([combined_df_from_db, df_from_db], ignore_index=True)
combined_df_from_db['date'] = pd.to_datetime(combined_df_from_db['date'])
combined_df_from_db
# combined_df_from_db['investment_banks ']

C:\Users\User\AppData\Local\Temp\ipykernel_18640\3768213395.py:12: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_from_db = pd.read_csv(data_path,na_values=[''])
C:\Users\User\AppData\Local\Temp\ipykernel_18640\3768213395.py:12: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_from_db = pd.read_csv(data_path,na_values=[''])

,date,company_id,foreign_investors,investment_banks,dealer,all_institutional_investors,foreign_investors_day,investment_banks_days,dealer_days,all_institutional_investors_days,...,financing_balance,margin_balance,sale_margin_purchase_ratio,margin_balance_ratio,financing_balance_ratio,200_400_ratio,400_600_ratio,600_800_ratio,800_1000_ratio,1000up_ratio
0,2023-01-31,1101,"-7,774",20,189,"-7,566",-1.0,1.0,1.0,-1.0,...,"10,602",699,6.59,3.56,3.23,NaN,NaN,NaN,NaN,NaN
1,2023-01-30,1101,"13,721",-234,-141,"13,346",2.0,-2.0,-3.0,1.0,...,"10,270",675,6.57,3.53,-7.89,NaN,NaN,NaN,NaN,NaN
2,2023-01-17,1101,265,"-3,424",-250,"-3,409",1.0,-1.0,-2.0,-2.0,...,"11,150",652,5.85,-5.92,-2.48,NaN,NaN,NaN,NaN,NaN
3,2023-01-16,1101,"-5,183","1,171",-514,"-4,526",-1.0,4.0,-1.0,-1.0,...,"11,433",693,6.06,14.55,-5.0,NaN,NaN,NaN,NaN,NaN
4,2023-01-13,1101,"4,878","4,400",498,"9,776",5.0,3.0,3.0,5.0,...,"12,035",605,5.03,26.57,5.5,2.82,1.59,1.06,0.99,58.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432705,2023-12-07,9962,-18,0,0,-18,-3.0,NaN,NaN,-3.0,...,"1,746",2,0.11,0,-0.46,NaN,NaN,NaN,NaN,NaN
432706,2023-12-06,9962,-4,0,0,-4,-2.0,NaN,NaN,-2.0,...,"1,754",2,0.11,0,-3.73,NaN,NaN,NaN,NaN,NaN
432707,2023-12-05,9962,-14,0,0,-14,-1.0,NaN,NaN,-1.0,...,"1,822",2,0.11,0,-0.33,NaN,NaN,NaN,NaN,NaN
432708,2023-12-04,9962,3,0,0,3,2.0,NaN,NaN,2.0,...,"1,828",2,0.11,0,-0.27,NaN,NaN,NaN,NaN,NaN
432709,2023-12-01,9962,29,0,0,29,1.0,NaN,NaN,1.0,...,"1,833",2,0.11,0,-0.11,3.74,2.67,2.99,0.00,36.74

In [54]:
# foreign_investors_value = combined_df_from_db[combined_df_from_db["company_id"]==3073 & combined_df_from_db["directors_stock_ratio"]==11.38]
# foreign_investors_value

In [55]:
combined_df_from_db = combined_df_from_db.sort_values(by=['company_id', 'date'], ascending=[True, True])
# print(combined_df_from_db.dtypes)
# 將 以下欄位 NaN 值設為0
columns_to_fill = ['foreign_investors_day', 'investment_banks_days', 'dealer_days', 'all_institutional_investors_days']
#'directors_stock', 'financing_balance','margin_balance','margin_balance_ratio', 'financing_balance_ratio','sale_margin_purchase_ratio', 'directors_stock_ratio','sale_margin_purchase_ratio', 
# combined_df_from_db[columns_to_fill] = pd.to_numeric(combined_df_from_db[columns_to_fill], errors='coerce').fillna(0)
combined_df_from_db[columns_to_fill] = combined_df_from_db[columns_to_fill].fillna(0)
# for column in columns_to_fill:
    # # 先處理千分位表示的數字，將逗號移除
    # combined_df_from_db[column] = combined_df_from_db[column].str.replace(',', '')

    # 使用 pd.to_numeric 將欄位轉換為數值，並將無法轉換的值設為 NaN
    # combined_df_from_db[column] = pd.to_numeric(combined_df_from_db[column], errors='coerce').fillna(0)
# combined_df_from_db["foreign_investors"].apply(pd.to_numeric, errors='coerce').fillna(0)
# combined_df_from_db["foreign_investors"]
#TODO 轉換千分位符號

In [56]:

# 將 '200_400_ratio', '400_600_ratio', '600_800_ratio', '800_1000_ratio', '1000up_ratio' 這幾欄的 NaN 值用前一列的值填補，如果前一列也是 NaN 則繼續往前找有值的值填補
combined_df_from_db[['200_400_ratio', '400_600_ratio', '600_800_ratio', '800_1000_ratio', '1000up_ratio']] = combined_df_from_db[['200_400_ratio', '400_600_ratio', '600_800_ratio', '800_1000_ratio', '1000up_ratio']].fillna(method='ffill')
combined_df_from_db

,date,company_id,foreign_investors,investment_banks,dealer,all_institutional_investors,foreign_investors_day,investment_banks_days,dealer_days,all_institutional_investors_days,...,financing_balance,margin_balance,sale_margin_purchase_ratio,margin_balance_ratio,financing_balance_ratio,200_400_ratio,400_600_ratio,600_800_ratio,800_1000_ratio,1000up_ratio
12,2023-01-03,1101,"-3,983",502,-12,"-3,493",-5.0,6.0,-1.0,-5.0,...,"12,995",735,5.66,1.94,0.71,NaN,NaN,NaN,NaN,NaN
11,2023-01-04,1101,"-3,074",27,774,"-2,273",-6.0,7.0,1.0,-6.0,...,"13,272",737,5.55,0.27,2.13,NaN,NaN,NaN,NaN,NaN
10,2023-01-05,1101,"5,669",8,-114,"5,563",1.0,8.0,-1.0,1.0,...,"12,560",720,5.73,-2.31,-5.36,NaN,NaN,NaN,NaN,NaN
9,2023-01-06,1101,"-3,396",74,207,"-3,115",-1.0,9.0,1.0,-1.0,...,"12,575",698,5.55,-3.06,0.12,NaN,NaN,NaN,NaN,NaN
8,2023-01-09,1101,"5,665","1,057",-44,"6,678",1.0,10.0,-1.0,1.0,...,"12,012",476,3.96,-31.81,-4.48,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431769,2023-12-25,912000,-1,0,0,-1,-3.0,0.0,0.0,-3.0,...,"1,401",0,0.00,0,0,3.84,2.72,2.92,0.0,36.75
431768,2023-12-26,912000,-1,0,0,-1,-4.0,0.0,0.0,-4.0,...,"1,401",0,0.00,0,0,3.84,2.72,2.92,0.0,36.75
431767,2023-12-27,912000,-1,0,0,-1,-5.0,0.0,0.0,-5.0,...,"1,390",0,0.00,0,-0.79,3.84,2.72,2.92,0.0,36.75
431766,2023-12-28,912000,-1,0,0,-1,-6.0,0.0,0.0,-6.0,...,"1,390",0,0.00,0,0,3.84,2.72,2.92,0.0,36.75
431765,2023-12-29,912000,-2,0,0,-2,-7.0,0.0,0.0,-7.0,...,"1,381",0,0.00,0,-0.65,3.84,2.72,2.92,0.0,36.75

In [57]:
#找不到上一筆資料全數補0
combined_df_from_db[['200_400_ratio', '400_600_ratio', '600_800_ratio', '800_1000_ratio', '1000up_ratio']] = combined_df_from_db[['200_400_ratio', '400_600_ratio', '600_800_ratio', '800_1000_ratio', '1000up_ratio']].fillna(0)
combined_df_from_db.to_csv('output_file_sorted.csv', index=False)