In [1]:
import pandas as pd
from database import Database
from datetime import datetime
from Filter.Market import Market

In [2]:
db = Database()
q_data=db.get_finance_report_q()
s_data = db.get_stock('2023/05/16','2023/09/16')
mk_data = db.get_market_index('2023/05/16','2023/09/16')
company_data =db.get_company_basic()

c:\Users\User\Desktop\中央資管\論文\自己的論文\Data_Browsing\database.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_from_db.rename(columns=self.column_mapping, inplace=True)
c:\Users\User\Desktop\中央資管\論文\自己的論文\Data_Browsing\database.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_from_db.rename(columns=self.column_mapping, inplace=True)

In [3]:
q_data

,季報所屬日期,證券代碼,季別,季報發布日,每股盈餘,當季季底P/B,當季季底PSR,當季季底P/E,ROA(C)稅前息前折舊前,ROA(A)稅後息前,...,總資產週轉次數,業外收支/營收,營業毛利率,營業毛利成長率,已實現銷貨毛利成長率,已實現銷貨毛利率,自由現金流量(D),營業收入淨額,股東權益總額,來自營運之現金流量
0,2023/6/30,1101,2,2023/8/10,0.45,1.27,2.27,21.71,1.86,1.06,...,0.06,8.72,21.63,4449.74,4449.74,21.63,29400482,27668242,234719451,5432647
1,2023/3/31,1101,1,2023/5/11,0.20,1.18,2.22,39.62,0.93,0.36,...,0.06,5.00,9.39,18.32,18.32,9.39,5277356,26295929,240081034,7958319
2,2022/12/30,1101,4,2023/2/24,0.36,1.11,2.11,35.58,1.55,0.72,...,0.08,4.24,14.95,-29.40,-29.40,14.95,869384,34655376,238275780,3028758
3,2022/9/30,1101,3,2022/11/10,0.17,1.13,2.08,22.81,1.23,0.50,...,0.07,4.74,7.01,-57.82,-57.82,7.01,-9059474,31123036,221670446,1720238
4,2022/6/30,1101,2,2022/8/12,-0.02,1.21,2.30,19.53,0.60,-0.09,...,0.06,6.25,0.52,-98.47,-98.47,0.52,-28996948,25177833,218958931,-843015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10791,2023/3/31,9962,1,2023/5/5,0.48,1.78,0.54,7.04,3.97,2.96,...,0.62,-0.05,8.65,14.10,14.10,8.65,156938,912288,1085001,-27958
10792,2022/12/30,9962,4,2023/3/23,0.58,1.28,0.00,5.77,0.00,3.54,...,0.68,-0.22,10.23,3.39,3.39,10.23,15797,1001765,1202850,160266
10793,2022/9/30,9962,3,2022/11/10,0.67,1.15,0.00,4.85,0.00,4.02,...,0.55,1.50,10.53,26.41,26.41,10.53,-171,830689,1149137,73471
10794,2022/6/30,9962,2,2022/8/10,0.70,1.07,0.00,4.71,0.00,4.12,...,0.56,0.60,11.97,75.97,75.97,11.97,100510,864452,1090444,82724
10795,2022/3/31,9962,1,2022/5/10,0.41,1.65,0.00,8.70,0.00,2.37,...,0.53,0.17,8.29,173.45,173.45,8.29,7285,833902,1125983,304147

In [4]:
s_data = s_data.sort_values(by=["證券代碼", "日期"], ascending=[True, True])
s_data

,日期,證券代碼,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),5日均價(元),10日均價(元),20日均價(元),60日均價(元),5日均量,10日均量,20日均量,60日均量
104,2023-05-16,1101,37.45,37.85,37.25,37.75,14583.0,37.990,38.650,38.5500,37.7400,22013.0,24461.0,32577.0,24705.0
103,2023-05-17,1101,37.70,38.20,37.65,37.90,20716.0,37.800,38.490,38.5700,37.7500,22944.0,23025.0,32935.0,24650.0
102,2023-05-18,1101,38.00,38.15,37.70,37.85,18202.0,37.730,38.330,38.6100,37.7500,21855.0,22909.0,33177.0,24635.0
101,2023-05-19,1101,37.85,38.00,37.70,37.85,24042.0,37.740,38.180,38.6400,37.7600,21445.0,23723.0,33500.0,24761.0
100,2023-05-22,1101,38.00,38.40,37.70,38.25,24186.0,37.920,38.050,38.6400,37.7600,20346.0,23524.0,31226.0,24861.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114083,2023-09-11,912000,2.10,2.11,2.09,2.10,469.0,2.086,2.059,2.0400,2.0965,334.0,278.0,266.0,322.0
114082,2023-09-12,912000,2.11,2.17,2.11,2.14,484.0,2.098,2.071,2.0445,2.0962,359.0,291.0,285.0,324.0
114081,2023-09-13,912000,2.17,2.17,2.07,2.15,623.0,2.112,2.083,2.0500,2.0962,429.0,334.0,304.0,331.0
114080,2023-09-14,912000,2.16,2.19,2.16,2.19,808.0,2.134,2.100,2.0575,2.0968,526.0,394.0,338.0,337.0
114079,2023-09-15,912000,2.19,2.24,2.18,2.21,1746.0,2.158,2.119,2.0660,2.0980,826.0,565.0,413.0,362.0

In [5]:
 # 將日期列解析為日期時間對象
s_data['日期'] = pd.to_datetime(s_data['日期'])

date_1 = pd.to_datetime('2023/05/16')
date_2 = pd.to_datetime('2023/07/17')
filtered_df = s_data[(s_data['日期'] == date_2)]
# filtered_df = s_data[(s_data['日期'] == date_1) | (s_data['日期'] == date_2)]
# filtered_df = filtered_df.sort_values(by=["證券代碼", "日期"], ascending=[True, False])
# filtered_df = pd.merge(filtered_df, company_data, on='證券代碼', how='left')

filtered_df

,日期,證券代碼,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),5日均價(元),10日均價(元),20日均價(元),60日均價(元),5日均量,10日均量,20日均量,60日均量
62,2023-07-17,1101,37.00,37.10,36.70,36.75,19635.0,36.74,37.10,37.76,38.21,17407.0,19024.0,17341.0,24192.0
377,2023-07-17,1102,43.95,44.15,43.90,43.90,6387.0,43.89,44.07,44.21,44.19,5052.0,4876.0,4876.0,4385.0
692,2023-07-17,1103,21.25,21.50,21.15,21.40,716.0,21.39,21.32,21.65,20.71,815.0,812.0,2267.0,1322.0
1007,2023-07-17,1104,31.00,31.40,30.80,31.15,2705.0,30.34,30.30,30.56,29.31,1567.0,1564.0,1479.0,3209.0
1322,2023-07-17,1108,16.50,16.55,16.30,16.50,696.0,16.47,16.44,16.70,16.10,1175.0,1232.0,1408.0,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64952,2023-07-17,1786,85.80,90.00,85.60,89.30,1019.0,86.50,87.46,84.72,76.01,752.0,1015.0,1241.0,919.0
65267,2023-07-17,1788,143.00,143.00,142.00,142.00,27.0,141.90,142.00,143.63,144.24,25.0,22.0,32.0,29.0
65582,2023-07-17,1789,30.45,33.25,30.45,33.25,6816.0,30.15,29.63,29.41,27.78,2838.0,2605.0,2840.0,1898.0
65897,2023-07-17,1795,278.50,290.00,278.50,288.50,7336.0,283.80,287.00,304.10,301.83,8680.0,9320.0,11976.0,11481.0
66212,2023-07-17,1796,102.50,102.50,101.50,102.00,79.0,101.80,104.45,106.58,123.31,159.0,156.0,170.0,612.0

In [6]:
selected_data = pd.DataFrame()
unique_companies = q_data['證券代碼'].unique()
merged_data = pd.merge(q_data, company_data, on='證券代碼')
# merged_data
# 根據證券代碼由小到大，日期由大到小排序
sorted_data = merged_data.sort_values(by=['證券代碼', '季報所屬日期'], ascending=[True, False])

# 取每個證券代碼的第一筆數據
selected_data = sorted_data.groupby('證券代碼').head(1)
# selected_data

for industry in selected_data['產業別'].unique():
    industry_data = selected_data[selected_data['產業別'] == industry]

    sorted_data = industry_data.sort_values(by='ROE(B)－常續利益', ascending=False)
    
    # 取排序後的前50%數據
    selected_data  = pd.concat([selected_data, sorted_data.head(int(len(sorted_data)*0.5))])

 # 加上當季季底P/B < 1的條件
condition = (selected_data['當季季底P/B'] < 1)

# 應用條件篩選
selected_data = selected_data[condition]

selected_companies = selected_data['證券代碼'].unique()
selected_companies

array([  1102,   1103,   1104,   1109,   1217,   1234,   1312,   1313,
         1314,   1315,   1324,   1325,   1337,   1338,   1339,   1340,
         1402,   1409,   1416,   1434,   1437,   1439,   1447,   1451,
         1452,   1455,   1456,   1460,   1465,   1466,   1474,   1531,
         1569,   1589,   1595,   1618,   1626,   1714,   1718,   1725,
         1806,   1809,   1815,   1906,   2007,   2025,   2029,   2038,
         2062,   2069,   2104,   2107,   2239,   2316,   2323,   2354,
         2355,   2358,   2362,   2363,   2365,   2374,   2375,   2390,
         2392,   2409,   2431,   2474,   2477,   2489,   2501,   2505,
         2506,   2509,   2511,   2514,   2515,   2516,   2520,   2524,
         2527,   2534,   2536,   2537,   2538,   2543,   2547,   2601,
         2603,   2605,   2609,   2611,   2612,   2615,   2616,   2617,
         2637,   2641,   2701,   2704,   2705,   2706,   2809,   2816,
         2820,   2832,   2836,   2838,   2845,   2849,   2851,   2852,
         2855,   2867,   2882,   2883,   2888,   2897,   2915,   2929,
         3015,   3049,   3052,   3060,   3252,   3266,   3306,   3311,
         3373,   3379,   3481,   3489,   3516,   3531,   3543,   3550,
         3605,   3615,   3622,   3673,   3703,   3706,   3714,   4173,
         4306,   4406,   4430,   4432,   4526,   4552,   4569,   4702,
         4707,   4711,   4745,   4807,   4905,   4909,   4930,   4933,
         4935,   4942,   4956,   4960,   4973,   4999,   5014,   5215,
         5223,   5281,   5356,   5392,   5438,   5469,   5481,   5512,
         5515,   5521,   5530,   5533,   5608,   5907,   6005,   6015,
         6016,   6021,   6026,   6108,   6114,   6116,   6136,   6141,
         6194,   6405,   6456,   6768,   6807,   6933,   8032,   8043,
         8096,   8103,   8105,   8107,   8110,   8182,   8213,   8240,
         8249,   8354,   8411,   8429,   8443,   8473,   8488,   8499,
         8921,   9103,   9105,   9110,   9136,   9904,   9944,   9946,
       910322, 910861, 911608, 911622, 911868, 912000], dtype=int64)

In [14]:
from itertools import combinations

features = ['A', 'B', 'C','D','E']
combinations_list = list(combinations(features, 3))

desired_permutations = []

for combo in combinations_list:
    # 對每個組合的元素進行旋轉，以獲得不同的順序
    for i in range(len(combo)):
        rotated_combo = combo[i:] + combo[:i]
        desired_permutations.append(rotated_combo)

print(len(desired_permutations))

30