In [12]:
import pandas as pd
from database import Database
from datetime import datetime
from Filter.Market import Market
import os

In [13]:
db = Database()
q_data=db.get_finance_report_q()
m_data=db.get_finance_report_m()
s_data = db.get_stock('2023/09/01','2023/09/16')
mk_data = db.get_market_index('2023/09/01','2023/09/16')
company_data =db.get_company_basic()
ch_data = db.get_chips('2023/09/01','2023/09/16')

In [14]:
# s_data
mk_data

,指數名稱,日期,指數開盤價(元),指數最高價(元),指數最低價(元),指數收盤價(元),指數成交量(千股),指數5日均價(元),指數10日均價(元),指數20日均價(元),指數60日均價(元),指數5日均量,指數10日均量,指數20日均量,指數60日均量
38,OTC,2023-09-15,218.79,219.40,218.30,219.00,1939402.0,215.60,215.58,212.59,217.12,1575172.0,1594514.0,1473732.0,1726485.0
39,TSE,2023-09-15,16809.74,16920.92,16787.74,16920.92,8158060.0,16663.13,16683.03,16630.55,16836.56,6298639.0,5918214.0,5898655.0,6797625.0
40,OTC,2023-09-14,215.28,218.72,215.28,218.70,1693072.0,214.66,215.05,212.05,217.19,1477799.0,1563855.0,1459194.0,1722111.0
41,TSE,2023-09-14,16581.62,16807.56,16581.62,16807.56,6359872.0,16594.15,16655.43,16603.56,16840.96,5688574.0,5688226.0,5853086.0,6775195.0
42,OTC,2023-09-13,213.05,215.09,213.05,215.09,1346504.0,214.08,214.50,211.63,217.28,1468389.0,1556683.0,1471226.0,1719558.0
43,TSE,2023-09-13,16578.13,16653.30,16542.72,16581.51,5515375.0,16556.47,16638.12,16589.02,16848.74,5522590.0,5685999.0,5891377.0,6794136.0
44,OTC,2023-09-12,212.33,213.66,212.11,213.04,1374824.0,214.36,214.19,211.26,217.43,1544247.0,1567621.0,1481276.0,1727766.0
45,TSE,2023-09-12,16433.82,16579.86,16422.91,16572.71,5408148.0,16587.80,16651.96,16582.28,16860.53,5653059.0,5712808.0,5938564.0,6864260.0
46,OTC,2023-09-11,214.44,214.95,212.16,212.16,1522059.0,214.99,213.80,210.97,217.61,1597317.0,1535574.0,1477416.0,1734400.0
47,TSE,2023-09-11,16579.83,16600.03,16398.30,16432.95,6051740.0,16631.58,16657.05,16576.39,16873.24,5649387.0,5674961.0,5966119.0,6909909.0
48,OTC,2023-09-08,215.81,215.81,213.88,214.33,1452536.0,215.56,213.31,210.63,217.80,1613856.0,1498855.0,1474014.0,1739721.0
49,TSE,2023-09-08,16609.93,16609.93,16505.64,16576.02,5107734.0,16702.92,16664.68,16574.42,16886.66,5537789.0,5634850.0,6031416.0,6931869.0
50,OTC,2023-09-07,216.40,217.01,215.71,215.78,1646023.0,215.43,212.67,210.43,217.96,1649911.0,1471532.0,1474453.0,1748723.0
51,TSE,2023-09-07,16715.45,16715.45,16609.94,16619.14,5529953.0,16716.71,16655.24,16575.68,16897.33,5687878.0,5738995.0,6057492.0,6971536.0
52,OTC,2023-09-06,216.39,217.14,216.21,216.48,1725791.0,214.93,211.98,210.17,218.05,1644978.0,1456871.0,1477598.0,1753496.0
53,TSE,2023-09-06,16796.37,16841.19,16732.69,16738.16,6167718.0,16719.78,16670.41,16576.46,16902.94,5849407.0,5945654.0,6140101.0,6992797.0
54,OTC,2023-09-05,214.96,216.35,214.87,216.19,1640177.0,214.01,211.15,210.09,218.15,1590996.0,1418363.0,1467157.0,1754260.0
55,TSE,2023-09-05,16784.12,16791.61,16727.44,16791.61,5389791.0,16716.11,16654.28,16583.10,16905.41,5772557.0,5881983.0,6129587.0,6992776.0
56,OTC,2023-09-04,213.69,215.00,213.44,215.00,1604755.0,212.61,210.28,210.08,218.21,1473831.0,1391463.0,1471221.0,1760500.0
57,TSE,2023-09-04,16649.67,16789.69,16648.51,16789.69,5493751.0,16682.52,16618.88,16587.37,16904.44,5700536.0,5885861.0,6197623.0,7013496.0
58,OTC,2023-09-01,213.43,214.90,213.43,213.68,1632809.0,211.07,209.61,210.24,218.33,1383854.0,1352950.0,1480626.0,1765150.0
59,TSE,2023-09-01,16640.92,16730.13,16619.23,16644.94,5858177.0,16626.44,16578.06,16597.69,16906.65,5731910.0,5879095.0,6236167.0,7031436.0

In [15]:
selected_companies=[1101,4971,9940]
start_date = pd.to_datetime('2023/9/1')
end_date = pd.to_datetime('2023/9/15')

In [16]:
#找出符合條件的公司股價資料
stock_fliter_data = [(s_data['證券代碼'].isin(selected_companies)) & (s_data['日期'] >= start_date) & (s_data['日期'] <= end_date)]
stock_fliter_data = s_data[(s_data['證券代碼'].isin(selected_companies)) ]
stock_fliter_data = stock_fliter_data.sort_values(by="日期", ascending=True)
stock_fliter_data

,日期,證券代碼,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),5日均價(元),10日均價(元),20日均價(元),60日均價(元),5日均量,10日均量,20日均量,60日均量
316484,2023-09-01,9940,28.60,28.75,28.60,28.75,82.0,28.66,28.61,28.76,28.80,134.37,116.77,131.24,221.82
301804,2023-09-01,4971,58.60,59.00,58.00,58.40,91.0,57.60,57.12,56.77,58.20,65.83,64.89,52.78,91.13
280544,2023-09-01,1101,35.10,35.45,35.00,35.25,19428.0,35.22,35.26,35.96,37.08,23136.62,18623.71,19722.84,17712.41
280543,2023-09-04,1101,35.15,35.25,34.90,35.20,20229.0,35.22,35.24,35.84,37.02,24441.57,19059.77,19884.65,17854.68
301803,2023-09-04,4971,59.10,59.40,58.50,58.90,96.0,58.08,57.39,56.85,58.21,71.16,71.50,56.47,91.59
316483,2023-09-04,9940,28.65,28.80,28.65,28.80,116.0,28.71,28.64,28.74,28.79,115.70,118.29,132.74,220.45
316482,2023-09-05,9940,28.75,28.95,28.70,28.80,133.0,28.74,28.67,28.73,28.79,110.39,123.68,133.15,219.70
280542,2023-09-05,1101,35.15,35.25,35.00,35.00,36456.0,35.14,35.20,35.73,36.96,27179.39,21489.39,20929.76,18221.40
301802,2023-09-05,4971,59.50,59.50,58.60,58.60,43.0,58.38,57.67,56.98,58.21,72.96,71.17,57.36,90.87
316481,2023-09-06,9940,28.80,28.80,28.65,28.70,186.0,28.73,28.69,28.70,28.78,122.03,137.12,134.40,219.84
280541,2023-09-06,1101,34.90,34.95,34.35,34.40,39906.0,34.96,35.11,35.59,36.90,30907.88,24159.96,22385.86,18678.19
301801,2023-09-06,4971,58.80,59.00,58.40,58.50,42.0,58.48,57.84,57.03,58.19,71.46,69.07,54.94,89.16
316480,2023-09-07,9940,28.60,28.75,28.60,28.65,103.0,28.74,28.69,28.68,28.78,124.79,135.48,134.64,216.91
280540,2023-09-07,1101,34.40,34.55,34.20,34.35,21981.0,34.84,35.02,35.47,36.83,27600.23,24942.90,22996.18,18771.72
301800,2023-09-07,4971,58.10,63.80,58.10,62.80,369.0,59.44,58.35,57.36,58.27,128.62,96.32,71.30,93.20
316479,2023-09-08,9940,28.60,28.70,28.55,28.65,69.0,28.72,28.69,28.66,28.77,122.08,128.22,133.25,211.44
301799,2023-09-08,4971,60.50,61.70,60.00,60.70,167.0,59.90,58.75,57.56,58.31,143.83,104.83,78.23,95.40
280539,2023-09-08,1101,34.30,34.35,34.05,34.10,21838.0,34.61,34.92,35.30,36.76,28082.20,25609.41,23190.08,18898.36
316478,2023-09-11,9940,28.80,28.90,28.65,28.70,244.0,28.70,28.71,28.66,28.77,147.59,131.65,130.54,212.31
280538,2023-09-11,1101,34.10,34.20,34.05,34.20,17824.0,34.41,34.82,35.17,36.69,27601.30,26021.44,23204.80,18998.71
301798,2023-09-11,4971,59.40,60.40,59.40,59.80,45.0,60.08,59.08,57.75,58.33,133.64,102.40,77.97,94.52
301797,2023-09-12,4971,59.80,60.50,59.30,60.10,45.0,60.38,59.38,57.92,58.32,134.04,103.50,79.28,93.03
316477,2023-09-12,9940,28.70,28.80,28.70,28.80,147.0,28.70,28.72,28.66,28.77,150.37,130.38,130.33,209.43
280537,2023-09-12,1101,34.30,34.65,34.30,34.60,17792.0,34.33,34.74,35.07,36.63,23868.47,25523.93,23248.47,19088.91
301796,2023-09-13,4971,59.40,59.50,59.00,59.30,30.0,60.54,59.51,58.11,58.32,131.53,101.50,77.84,90.27
316476,2023-09-13,9940,28.70,28.80,28.70,28.80,82.0,28.72,28.73,28.66,28.77,129.48,125.75,128.29,206.06
280536,2023-09-13,1101,34.85,35.30,34.85,35.30,28278.0,34.51,34.74,35.03,36.57,21542.86,26225.37,23161.27,18907.66
301795,2023-09-14,4971,59.60,61.00,59.40,60.00,29.0,59.98,59.71,58.31,58.35,63.38,96.00,76.89,89.97
316475,2023-09-14,9940,28.80,28.85,28.70,28.80,193.0,28.75,28.75,28.67,28.77,147.39,136.09,131.53,207.52
280535,2023-09-14,1101,35.40,35.50,35.30,35.50,18247.0,34.74,34.79,35.02,36.52,20796.22,24198.23,21977.20,18997.00
301794,2023-09-15,4971,59.50,60.20,59.00,59.60,44.0,59.76,59.83,58.48,58.37,38.72,91.28,78.08,89.47
316474,2023-09-15,9940,28.80,28.85,28.75,28.85,156.0,28.79,28.76,28.68,28.78,164.82,143.45,130.11,206.81
280534,2023-09-15,1101,35.30,35.35,35.05,35.10,19736.0,34.94,34.78,35.02,36.46,20375.97,24229.09,21426.40,19031.30

In [17]:
first_date = stock_fliter_data.head(1)['日期']
first_date

316484   2023-09-01
Name: 日期, dtype: datetime64[ns]

In [18]:
max_prices_idx = stock_fliter_data.groupby('證券代碼')['最高價(元)'].idxmax()
max_prices_with_dates = stock_fliter_data.loc[max_prices_idx]
max_prices_with_dates

,日期,證券代碼,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),5日均價(元),10日均價(元),20日均價(元),60日均價(元),5日均量,10日均量,20日均量,60日均量
280535,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,36.52,20796.22,24198.23,21977.20,18997.0
301800,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,58.27,128.62,96.32,71.30,93.2
316482,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,28.79,110.39,123.68,133.15,219.7

In [19]:
start_prices = stock_fliter_data[stock_fliter_data['日期'] == start_date][['證券代碼', '最低價(元)']]
result_df = pd.merge(max_prices_with_dates[['證券代碼', '最高價(元)']], start_prices, on='證券代碼', how='left')
 # 計算 "區間最高股價變化"
result_df['區間最大價差'] = (result_df['最高價(元)'] - result_df['最低價(元)'])

# 計算 "區間最高股價變化率"
result_df['區間最大價差%'] = ((result_df['最高價(元)'] - result_df['最低價(元)'])/result_df['最低價(元)']*100).round(2)
result_df

   證券代碼  最高價(元)  最低價(元)  區間最大價差  區間最大價差%
0  1101   35.50    35.0    0.50     1.43
1  4971   63.80    58.0    5.80    10.00
2  9940   28.95    28.6    0.35     1.22

In [20]:
stock_data = pd.merge(max_prices_with_dates, result_df[['證券代碼','區間最大價差','區間最大價差%']], on='證券代碼', how='left')
stock_data.columns = ['最高價當日-' + col if col in ['開盤價(元)', '最高價(元)', '最低價(元)', '收盤價(元)', '成交量(千股)', '5日均價(元)', '10日均價(元)', '20日均價(元)', '60日均價(元)', '5日均量', '10日均量', '20日均量', '60日均量'] else col for col in stock_data.columns]
stock_data

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),最高價當日-60日均價(元),最高價當日-5日均量,最高價當日-10日均量,最高價當日-20日均量,最高價當日-60日均量,區間最大價差,區間最大價差%
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,36.52,20796.22,24198.23,21977.20,18997.0,0.50,1.43
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,58.27,128.62,96.32,71.30,93.2,5.80,10.00
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,28.79,110.39,123.68,133.15,219.7,0.35,1.22

In [21]:
filter_stock_data=pd.merge(stock_data,company_data,on=['證券代碼'], how='left')
filter_stock_data

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,最高價當日-20日均量,最高價當日-60日均量,區間最大價差,區間最大價差%,上市別,產業別,公司,產業名稱,資本額,規模
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,21977.20,18997.0,0.50,1.43,TSE,1,台泥,水泥工業,7.751182e+10,大
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,71.30,93.2,5.80,10.00,OTC,24,IET-KY,半導體,3.678574e+08,小
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,133.15,219.7,0.35,1.22,TSE,20,信義,其他,7.368465e+09,小

In [22]:
max_price_mdata= pd.merge(filter_stock_data,mk_data,how='inner', left_on=['日期', '上市別'], right_on=['日期', '指數名稱'])
max_price_mdata.to_excel('max_price_mdata.xlsx', index=False,encoding='UTF-8')
max_price_mdata

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,指數收盤價(元),指數成交量(千股),指數5日均價(元),指數10日均價(元),指數20日均價(元),指數60日均價(元),指數5日均量,指數10日均量,指數20日均量,指數60日均量
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,16807.56,6359872.0,16594.15,16655.43,16603.56,16840.96,5688574.0,5688226.0,5853086.0,6775195.0
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,215.78,1646023.0,215.43,212.67,210.43,217.96,1649911.0,1471532.0,1474453.0,1748723.0
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,16791.61,5389791.0,16716.11,16654.28,16583.10,16905.41,5772557.0,5881983.0,6129587.0,6992776.0

In [23]:
max_price_mdata.columns = ['最高價當日-' + col if col in ['指數開盤價(元)', '指數最高價(元)', '指數最低價(元)', '指數收盤價(元)', '指數成交量(千股)', '指數5日均價(元)', '指數10日均價(元)', '指數20日均價(元)', '指數60日均價(元)', '指數5日均量', '指數10日均量', '指數20日均量', '指數60日均量'] else col for col in max_price_mdata.columns]
max_price_mdata

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,最高價當日-指數收盤價(元),最高價當日-指數成交量(千股),最高價當日-指數5日均價(元),最高價當日-指數10日均價(元),最高價當日-指數20日均價(元),最高價當日-指數60日均價(元),最高價當日-指數5日均量,最高價當日-指數10日均量,最高價當日-指數20日均量,最高價當日-指數60日均量
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,16807.56,6359872.0,16594.15,16655.43,16603.56,16840.96,5688574.0,5688226.0,5853086.0,6775195.0
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,215.78,1646023.0,215.43,212.67,210.43,217.96,1649911.0,1471532.0,1474453.0,1748723.0
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,16791.61,5389791.0,16716.11,16654.28,16583.10,16905.41,5772557.0,5881983.0,6129587.0,6992776.0

In [24]:
#找出時間時間條件內的第一日的大盤狀況
first_date_mdata=mk_data[mk_data['日期']==first_date.iloc[0]]
first_date_mdata

,指數名稱,日期,指數開盤價(元),指數最高價(元),指數最低價(元),指數收盤價(元),指數成交量(千股),指數5日均價(元),指數10日均價(元),指數20日均價(元),指數60日均價(元),指數5日均量,指數10日均量,指數20日均量,指數60日均量
58,OTC,2023-09-01,213.43,214.90,213.43,213.68,1632809.0,211.07,209.61,210.24,218.33,1383854.0,1352950.0,1480626.0,1765150.0
59,TSE,2023-09-01,16640.92,16730.13,16619.23,16644.94,5858177.0,16626.44,16578.06,16597.69,16906.65,5731910.0,5879095.0,6236167.0,7031436.0

In [25]:
computed_mdata = pd.merge(
    max_price_mdata[['證券代碼', '最高價當日-指數收盤價(元)', '指數名稱']],
    first_date_mdata[['指數收盤價(元)', '指數名稱']],
    on='指數名稱',
    how='left'
)

computed_mdata

   證券代碼  最高價當日-指數收盤價(元) 指數名稱  指數收盤價(元)
0  1101        16807.56  TSE  16644.94
1  4971          215.78  OTC    213.68
2  9940        16791.61  TSE  16644.94

In [26]:
computed_mdata['最高價當日指數變化']=(computed_mdata['最高價當日-指數收盤價(元)'] - computed_mdata['指數收盤價(元)']).round(2)
computed_mdata['最高價當日指數變化率']=((computed_mdata['最高價當日-指數收盤價(元)'] - computed_mdata['指數收盤價(元)'])/computed_mdata['指數收盤價(元)']*100).round(2)
computed_mdata

   證券代碼  最高價當日-指數收盤價(元) 指數名稱  指數收盤價(元)  最高價當日指數變化  最高價當日指數變化率
0  1101        16807.56  TSE  16644.94     162.62        0.98
1  4971          215.78  OTC    213.68       2.10        0.98
2  9940        16791.61  TSE  16644.94     146.67        0.88

In [27]:
flited_data_sm=pd.merge(max_price_mdata,computed_mdata[['證券代碼','最高價當日指數變化','最高價當日指數變化率']],on='證券代碼',how='left')
flited_data_sm

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,最高價當日-指數5日均價(元),最高價當日-指數10日均價(元),最高價當日-指數20日均價(元),最高價當日-指數60日均價(元),最高價當日-指數5日均量,最高價當日-指數10日均量,最高價當日-指數20日均量,最高價當日-指數60日均量,最高價當日指數變化,最高價當日指數變化率
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,16594.15,16655.43,16603.56,16840.96,5688574.0,5688226.0,5853086.0,6775195.0,162.62,0.98
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,215.43,212.67,210.43,217.96,1649911.0,1471532.0,1474453.0,1748723.0,2.10,0.98
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,16716.11,16654.28,16583.10,16905.41,5772557.0,5881983.0,6129587.0,6992776.0,146.67,0.88

In [28]:
max_price_chdata= pd.merge(flited_data_sm,ch_data, on=['日期', '證券代碼'],how='inner')
max_price_chdata.to_excel('max_price_chdata.xlsx', index=False,encoding='UTF-8')
max_price_chdata

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,融資餘額(張),融券餘額(張),券資比,融券增減比率,融資增減比率,200-400 張(比率),400-600 張(比率),600-800 張(比率),800-1000張(比率),1000張以上(比率)
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,16388.0,4275.0,26.09,-0.54,-2.33,2.82,1.63,0.99,1.03,56.34
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,3082.0,0.0,0.00,0.00,2.94,11.07,7.86,7.18,7.11,16.19
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,55.0,0.0,0.00,0.00,3.77,2.22,1.50,1.25,0.56,79.68

In [29]:
max_price_chdata.columns = ['最高價當日-' + col if col in ['外資買賣超(張)',
'投信買賣超(張)',
'自營買賣超(張)',
'合計買賣超(張)',
'外資買賣超日數',
'投信買賣超日數',
'自營買賣超日數',
'法人買賣超日數',	
'董監持股％',
'董監持股數',
'融資餘額(張)',	
'融券餘額(張)',	
'券資比',
'融券增減比率',	
'融資增減比率',	
'200-400 張(比率)',	
'400-600 張(比率)',	
'600-800 張(比率)',	
'800-1000張(比率)',	
'1000張以上(比率)'] else col for col in max_price_chdata.columns]
max_price_chdata

,日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,最高價當日-融資餘額(張),最高價當日-融券餘額(張),最高價當日-券資比,最高價當日-融券增減比率,最高價當日-融資增減比率,最高價當日-200-400 張(比率),最高價當日-400-600 張(比率),最高價當日-600-800 張(比率),最高價當日-800-1000張(比率),最高價當日-1000張以上(比率)
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,16388.0,4275.0,26.09,-0.54,-2.33,2.82,1.63,0.99,1.03,56.34
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,3082.0,0.0,0.00,0.00,2.94,11.07,7.86,7.18,7.11,16.19
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,55.0,0.0,0.00,0.00,3.77,2.22,1.50,1.25,0.56,79.68

In [30]:
#找出時間時間條件內的第一日的籌碼狀況
first_date_chdata=ch_data[ch_data['日期']==first_date.iloc[0]]
first_date_chdata

,日期,證券代碼,外資買賣超(張),投信買賣超(張),自營買賣超(張),合計買賣超(張),外資買賣超日數,投信買賣超日數,自營買賣超日數,法人買賣超日數,...,融資餘額(張),融券餘額(張),券資比,融券增減比率,融資增減比率,200-400 張(比率),400-600 張(比率),600-800 張(比率),800-1000張(比率),1000張以上(比率)
156,2023-09-01,1101,-5509.0,17.0,-286.0,-5778.0,-6,6,-1,-6,...,15309.0,3373.0,22.03,0.45,0.49,2.81,1.60,1.01,1.03,56.84
395,2023-09-01,1102,1454.0,286.0,-21.0,1719.0,1,8,-1,1,...,1650.0,5.0,0.30,-28.57,-0.24,1.86,1.22,0.81,0.58,78.18
634,2023-09-01,1103,-111.0,0.0,58.0,-53.0,-3,0,1,-3,...,1560.0,1.0,0.06,0.00,-0.19,3.22,1.79,0.77,0.77,74.59
873,2023-09-01,1104,187.0,0.0,20.0,207.0,2,0,2,2,...,1992.0,20.0,1.00,0.00,-0.60,3.04,2.03,1.49,1.28,70.48
1112,2023-09-01,1108,103.0,0.0,55.0,158.0,1,0,4,1,...,1553.0,2.0,0.13,-75.00,0.06,2.06,0.51,0.70,2.00,80.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431671,2023-09-01,910861,-13.0,0.0,0.0,-13.0,-1,0,0,-1,...,0.0,0.0,NaN,0.00,0.00,3.84,2.72,2.92,0.00,36.75
431910,2023-09-01,911608,0.0,0.0,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,3.84,2.72,2.92,0.00,36.75
432149,2023-09-01,911622,0.0,0.0,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,3.84,2.72,2.92,0.00,36.75
432388,2023-09-01,911868,0.0,0.0,0.0,0.0,0,0,0,0,...,0.0,0.0,NaN,0.00,0.00,3.84,2.72,2.92,0.00,36.75
432627,2023-09-01,912000,-1.0,0.0,0.0,-1.0,-5,0,0,-5,...,5343.0,0.0,0.00,0.00,-1.82,3.84,2.72,2.92,0.00,36.75

In [31]:
computed_chdata = pd.merge(
    max_price_chdata[['證券代碼','最高價當日-董監持股數','最高價當日-融資餘額(張)','最高價當日-融券餘額(張)','最高價當日-200-400 張(比率)','最高價當日-400-600 張(比率)','最高價當日-600-800 張(比率)','最高價當日-800-1000張(比率)','最高價當日-1000張以上(比率)']],
    first_date_chdata[['證券代碼', '董監持股數','融資餘額(張)','融券餘額(張)','200-400 張(比率)','400-600 張(比率)','600-800 張(比率)','800-1000張(比率)','1000張以上(比率)']],
    on='證券代碼',
    how='left'
)

computed_chdata

,證券代碼,最高價當日-董監持股數,最高價當日-融資餘額(張),最高價當日-融券餘額(張),最高價當日-200-400 張(比率),最高價當日-400-600 張(比率),最高價當日-600-800 張(比率),最高價當日-800-1000張(比率),最高價當日-1000張以上(比率),董監持股數,融資餘額(張),融券餘額(張),200-400 張(比率),400-600 張(比率),600-800 張(比率),800-1000張(比率),1000張以上(比率)
0,1101,564677.0,16388.0,4275.0,2.82,1.63,0.99,1.03,56.34,564677.0,15309.0,3373.0,2.81,1.60,1.01,1.03,56.84
1,4971,1224.0,3082.0,0.0,11.07,7.86,7.18,7.11,16.19,1224.0,3020.0,0.0,11.07,7.86,7.18,7.11,16.19
2,9940,239924.0,55.0,0.0,2.22,1.50,1.25,0.56,79.68,239924.0,53.0,0.0,2.22,1.50,1.25,0.56,79.68

In [32]:
import numpy as np
computed_chdata['最高價當日董監持股變化']=(computed_chdata['最高價當日-董監持股數'] - computed_chdata['董監持股數']).round(2)
computed_chdata['最高價當日融資餘額(張)變化']=(computed_chdata['最高價當日-融資餘額(張)'] - computed_chdata['融資餘額(張)']).round(2)
computed_chdata['最高價當日融券餘額(張)變化']=(computed_chdata['最高價當日-融券餘額(張)'] - computed_chdata['融券餘額(張)']).round(2)
computed_chdata['最高價當日200-400 張(比率)變化']=(computed_chdata['最高價當日-200-400 張(比率)'] - computed_chdata['200-400 張(比率)']).round(2)
computed_chdata['最高價當日400-600 張(比率)變化']=(computed_chdata['最高價當日-400-600 張(比率)'] - computed_chdata['400-600 張(比率)']).round(2)
computed_chdata['最高價當日600-800 張(比率)變化']=(computed_chdata['最高價當日-600-800 張(比率)'] - computed_chdata['600-800 張(比率)']).round(2)
computed_chdata['最高價當日800-1000張(比率)變化']=(computed_chdata['最高價當日-800-1000張(比率)'] - computed_chdata['800-1000張(比率)']).round(2)
computed_chdata['最高價當日1000張以上(比率)變化']=(computed_chdata['最高價當日-1000張以上(比率)'] - computed_chdata['1000張以上(比率)']).round(2)


computed_chdata['最高價當日董監持股變化率']=((computed_chdata['最高價當日-董監持股數'] - computed_chdata['董監持股數'])/computed_chdata['董監持股數']*100).round(2)
computed_chdata['最高價當日融資餘額(張)變化率'] = np.where(
    computed_chdata['融資餘額(張)'] == 0,  # 分母為0的情況
    0,  # 當分母為0時，將結果設為0
    ((computed_chdata['最高價當日-融資餘額(張)'] - computed_chdata['融資餘額(張)']) / computed_chdata['融資餘額(張)'] * 100).round(2)
)
computed_chdata['最高價當日融券餘額(張)變化率'] = np.where(
    computed_chdata['融券餘額(張)'] == 0,  # 分母為0的情況
    0,  # 當分母為0時，將結果設為0
    ((computed_chdata['最高價當日-融券餘額(張)'] - computed_chdata['融券餘額(張)']) / computed_chdata['融券餘額(張)'] * 100).round(2)
)
computed_chdata.to_excel('computed_chdata.xlsx', index=False,encoding='UTF-8')
computed_chdata

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

,證券代碼,最高價當日-董監持股數,最高價當日-融資餘額(張),最高價當日-融券餘額(張),最高價當日-200-400 張(比率),最高價當日-400-600 張(比率),最高價當日-600-800 張(比率),最高價當日-800-1000張(比率),最高價當日-1000張以上(比率),董監持股數,...,最高價當日融資餘額(張)變化,最高價當日融券餘額(張)變化,最高價當日200-400 張(比率)變化,最高價當日400-600 張(比率)變化,最高價當日600-800 張(比率)變化,最高價當日800-1000張(比率)變化,最高價當日1000張以上(比率)變化,最高價當日董監持股變化率,最高價當日融資餘額(張)變化率,最高價當日融券餘額(張)變化率
0,1101,564677.0,16388.0,4275.0,2.82,1.63,0.99,1.03,56.34,564677.0,...,1079.0,902.0,0.01,0.03,-0.02,0.0,-0.5,0.0,7.05,26.74
1,4971,1224.0,3082.0,0.0,11.07,7.86,7.18,7.11,16.19,1224.0,...,62.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,2.05,0.00
2,9940,239924.0,55.0,0.0,2.22,1.50,1.25,0.56,79.68,239924.0,...,2.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,3.77,0.00

In [38]:
flited_data_smc=pd.merge(max_price_chdata,computed_chdata[['證券代碼','最高價當日董監持股變化','最高價當日融資餘額(張)變化','最高價當日融券餘額(張)變化','最高價當日200-400 張(比率)變化','最高價當日400-600 張(比率)變化','最高價當日600-800 張(比率)變化','最高價當日800-1000張(比率)變化','最高價當日1000張以上(比率)變化','最高價當日董監持股變化率','最高價當日融資餘額(張)變化率','最高價當日融券餘額(張)變化率']],on='證券代碼',how='left')
flited_data_smc['分析首日']=first_date.iloc[0]
flited_data_smc = flited_data_smc.rename(columns={'日期': '最高價日期'})
flited_data_smc.to_excel('flited_data_smc.xlsx', index=False,encoding='UTF-8')
flited_data_smc

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

,最高價日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,最高價當日融券餘額(張)變化,最高價當日200-400 張(比率)變化,最高價當日400-600 張(比率)變化,最高價當日600-800 張(比率)變化,最高價當日800-1000張(比率)變化,最高價當日1000張以上(比率)變化,最高價當日董監持股變化率,最高價當日融資餘額(張)變化率,最高價當日融券餘額(張)變化率,分析首日
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,902.0,0.01,0.03,-0.02,0.0,-0.5,0.0,7.05,26.74,2023-09-01
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,0.0,0.00,0.00,0.00,0.0,0.0,0.0,2.05,0.00,2023-09-01
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,0.0,0.00,0.00,0.00,0.0,0.0,0.0,3.77,0.00,2023-09-01

In [39]:
m_data['月報所屬日期'] = pd.to_datetime(m_data['月報所屬日期'])
m_data['營收發布日'] = pd.to_datetime(m_data['營收發布日'])
q_data['季報所屬日期'] = pd.to_datetime(q_data['季報所屬日期'])
q_data['季報發布日'] = pd.to_datetime(q_data['季報發布日'])
flited_data_smc['分析首日'] = pd.to_datetime(flited_data_smc['分析首日'])
m_data = m_data.sort_values(by='營收發布日', ascending=False)
q_data = q_data.sort_values(by='季報發布日', ascending=False)
def find_next_date(row, data, date_column, target_date_column):
    company_id = int(row['證券代碼'])
    date = row['分析首日']
    
    # 從 data 中篩選出相同 '證券代碼' 的紀錄
    correspond_company_data = data[data['證券代碼'] == company_id]
    
    for _, m_row in correspond_company_data.iterrows():
        if date > m_row[date_column]:
            return m_row[target_date_column]
    
    return None

# 將 '月報所屬日期' 列填充為對應的 '營收所屬日期'
flited_data_smc['月報所屬日期'] = flited_data_smc.apply(find_next_date, args=(m_data, '營收發布日', '月報所屬日期',), axis=1)

# 將 '季報所屬日期' 列填充為對應的 '季報所屬日期'
flited_data_smc['季報所屬日期'] = flited_data_smc.apply(find_next_date, args=(q_data, '季報發布日', '季報所屬日期',), axis=1)
final_merged_df = pd.merge(flited_data_smc, m_data, on=['月報所屬日期', '證券代碼'], how='left').merge(q_data, on=['季報所屬日期', '證券代碼'], how='left')
final_merged_df.to_excel('final_merged_df.xlsx', index=False,encoding='UTF-8')
final_merged_df

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

,最高價日期,證券代碼,最高價當日-開盤價(元),最高價當日-最高價(元),最高價當日-最低價(元),最高價當日-收盤價(元),最高價當日-成交量(千股),最高價當日-5日均價(元),最高價當日-10日均價(元),最高價當日-20日均價(元),...,總資產週轉次數,業外收支/營收,營業毛利率,營業毛利成長率,已實現銷貨毛利成長率,已實現銷貨毛利率,自由現金流量(D),營業收入淨額,股東權益總額,來自營運之現金流量
0,2023-09-14,1101,35.40,35.50,35.3,35.5,18247.0,34.74,34.79,35.02,...,0.06,8.72,21.63,4449.74,4449.74,21.63,29400482,27668242,234719451,5432647
1,2023-09-07,4971,58.10,63.80,58.1,62.8,369.0,59.44,58.35,57.36,...,0.08,1.31,13.50,-83.33,-83.33,13.50,1134,137865,1662190,-31403
2,2023-09-05,9940,28.75,28.95,28.7,28.8,133.0,28.74,28.67,28.73,...,0.11,2.38,27.97,18.64,18.64,27.97,-387840,3480514,11752341,949387

In [41]:
datetime_cols = final_merged_df.select_dtypes(include=[np.datetime64]).columns
datetime_cols

Index(['最高價日期', '分析首日', '月報所屬日期', '季報所屬日期', '營收發布日', '季報發布日'], dtype='object')